<p-sidebar [(visible)]="sidebarVisible">
  <div class="menus">
    <h3>Tablas</h3>
    <section class="opciones">
      <a routerLink="/tablas/pacientes" class="opcion">
        <i class="fa-solid fa-paw"></i>Pacientes
      </a>
      <a routerLink="/tablas/empleados" class="opcion"
        ><i class="fa-solid fa-user-doctor"></i>Empleados
      </a>
      <a routerLink="/tablas/duenios" class="opcion"
        ><i class="fa-solid fa-user"></i>Dueños
      </a>
      <a routerLink="/tablas/general" class="opcion">
        <i class="fa-solid fa-earth-americas"></i>General
      </a>
    </section>
  </div>
</p-sidebar>
<article class="btn-abrir-menu">
  <button
    pButton
    (click)="sidebarVisible = true"
    icon="pi pi-arrow-right"></button>
</article>

<router-outlet></router-outlet>
